<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is home page</h1>
    <form action="/" method="post" >
        <label for="name"> name</label>
        <input type="text" placeholder="enter name" name="name"><br>
        <label for="email"> email</label>
        <input type="email" placeholder="enter email" name="email"><br>
        <label for="name"> password</label>
        <input type="password" placeholder="enter password" name="password"><br>
        <button type="submit">submit</button>
    </form>
</body>
</html>